@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin "tailwindcss-primeui";

/* 1. Define the stack order. The LAST one in the list wins. */
@layer primeng, tailwind-utilities;

@theme {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --default-font-family: var(--font-jakarta);
  --color-sidebar: #e8e1da;
}

/* 2. Wrap the utility import in that layer */
@layer tailwind-utilities {
  @import 'tailwindcss/utilities';
}

:root {
  --p-font-family: var(--font-jakarta);
}
